

.titulo-principal{
  padding-left: 30px;
}
#baner{
    width: 100%;
}

.principal{
    background-color: gray; 
    padding: 20px;
}

.titulo-Centralizado{
    text-align: center;
   
}

p{
    text-align: center;
   
}


em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background-color: white;
    padding: 30px;
}

.items{
    font-style: italic; /*esto es pone el estilo italico en el texto*/
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%; 
}